@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');
/* .micro-5-regular {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800 

.open-sans-<uniquifier> {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
} */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    list-style: none;
}

header{
    margin: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h1 a {
        text-decoration: none;
        color: black;
    }
}

footer {
    margin-top: 25px;
    padding: 15px 0;
    width: 100%;
    text-align: center;
}

body {
    background-color: #f3f4f6;
}

table {
    border: 1px solid black;
    border-collapse: collapse;

    & th, td {
        border: 1px solid black;
        padding: 10px 15px;
    }
}

input[type=radio], input[type=checkbox], label, button {
    cursor: pointer;
}

.presentation {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 15px 0;
}

.pres-text {
    width: 90%;
    margin: 10px auto;
}

.pres-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box {
    min-height: 150px;
    height: auto;
    width: 90%;
    margin: 20px 0;
    padding: 10px 5px;
    background-color: #12345678;
    border-radius: 3px;

    & p {
        font-size: 0.95em;
        padding: 5px;
    }
}

.reservation-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    & .btn {
        width: 75%;
        text-align: center;
        background-color: #123;
        color: white;
        padding: 15px;
        border-radius: 3px;
        text-decoration: none;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);
    }

    & .btn:hover {
        background-color: #126;
    }
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 15px 0;
}

.reservation {
    width: 100%;
}

.reservation-box {
    width: 90%;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #123;
    padding: 10px;
    color: white;
    -webkit-box-shadow: 5px 5px 15px 4px rgba(0,0,0,0.25); 
    box-shadow: 5px 5px 15px 4px rgba(0,0,0,0.25);

    & form input[type=submit] {
        width: 100%;
        margin-top: 10px;
        padding: 5px 10px;
        border-radius: 3px;
        border: 1px solid;
        font-size: 1.2em;
        font-weight: 600;
        background-color: #fefefe;
    }

    & form input[type=submit]:hover {
        background-color: #cbcbcb;
    }
    
}

.user {
    padding: 2px 5px;
}

.user div {
    display: flex;
    flex-direction: column;
    margin: 15px 0;

    & label {
        font-size: 1em;
    }

    & input {
        height: 35px;
        font-size: 0.9em;
    }
}

.salle, .equipement, .service {
    margin: 5px 0;
    display: flex;
    flex-direction: column;

    & h4 {
        font-size: 1.3em;
    }

    & div {
        margin: 3px 0;
        padding: 0 5px;

        & label, input[type=number] {
            font-size: 1.1em;
        }
    }
}

.reservation label::after {
    content: " :";
}

.info {
    width: 80%;
    margin: 0 auto;
    background-color: #f3f4f6;
    font-size: 1.1em;
}

.mention {
    width: 90%;
    margin: 0 auto;

    & h2 {
        margin: 15px 0;
        text-align: center;
        font-size: 1.3em;
    }

    & h3 {
        margin: 10px 0 3px;
        font-size: 1.1em;
    }
}

.recap {
    width: 75%;
    margin: 0 auto;
}

.msg {
    margin: 0 auto;
    width: 50%;
    height: 22px;
    display: inline-block;
    color: green;
}

.connexion, .inscription {
    width: 90%;
    margin: 0 auto;

    & div {
        text-align: center;

        & form {
            border-radius: 4px;
            background-color: #123;
            padding: 10px;
            color: white;
            -webkit-box-shadow: 5px 5px 15px 4px rgba(0,0,0,0.25); 
            box-shadow: 5px 5px 15px 4px rgba(0,0,0,0.25);
            
            & div {
                display: flex;
                flex-direction: column;
                margin: 15px 0;
                
                & label {
                    font-size: 1em;
                    text-align: left;
                }
                
                & input {
                    height: 35px;
                    font-size: 0.9em;
                }
            }

            & input[type=submit] {
                width: 100%;
                margin-top: 10px;
                padding: 5px 10px;
                border-radius: 3px;
                border: 1px solid;
                font-size: 1.2em;
                font-weight: 600;
                background-color: #fefefe;
            }
            
            & input[type=submit]:hover {
                background-color: #cbcbcb;
            }
        }

        & div {
            margin: 25px auto;
            
            & a {
                text-decoration: none;
                width: 100%;
                margin-top: 10px;
                padding: 10px 15px;
                border-radius: 3px;
                border: 1px solid;
                font-weight: 600;
                background-color: #123;
                color: white;
            }
            
            & a:hover {
                background-color: #126;
            }
        }
    }

}

.admin {
    width: 90%;
    margin: 0 auto;

    & table {
        margin: 0 auto;
    }

    & table tr {
        text-align: center;
    }

    & table tr th .id {
        font-weight: bold;
    }
}

.dashBoard {
    width: 90%;
    margin: 0 auto;

    & titre {
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }

    & .article, .res {
        width: 100%;
        background-color: #cbcbcb;
        padding: 10px;
        border-radius: 10px;
        margin: 5px auto;

        & .salle-info, .equipement-info, .service-info, .res-info {
            width: 100%;
            border-radius: 10px;
            margin: 10px auto;
            background-color: #f3f4f6;

            & .titre {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 5px 15px;
            }

            & a {
                background-color: #126;
                padding: 4px 12px;
                color: white;
                border-radius: 3px;
                margin: 0 1px;
                text-decoration: none;
            }

            & a:hover {
                background-color: #123;
            }

            & .liste-salle, .liste-equipement, .liste-service, .liste-res {
                width: 95%;
                margin: 5px auto;
                padding: 5px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                & .salle-box, .equipement-box, .service-box, .res-box {
                    width: 95%;
                    height: auto;
                    margin: 5px auto;
                    padding: 5px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: #fefefe;
                    border-radius: 5px;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                    & .salle-pres, .salle-lien, .equipement-pres, .equipement-lien, .service-pres, .service-lien, .res-pres {
                        width: 100%;
                        padding: 5px 10px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }

                    & .salle-lien, .equipement-lien, .service-lien {
                        justify-content: right;
                    }
                }
            }

        }
    }

}

@media screen and (min-width: 680px) {

    footer {
        display: flex;
        justify-content: center;
    }

    .pres-box {
        justify-content: space-around;
    }
    
    .box {
        width: 30%;
    }
    
    .reservation {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .reservation-box {
        width: 50%;
    }

    .reservation-btn .btn {
        width: 30%;
    }
    
    .user div {
        margin: 5px 0;
    
        & label {
            font-size: 1.2em;
        }
    }

    .mention {
        width: 75%;

        & h2 {
            font-size: 1.6em;
        }

        .mention h3 {
            font-size: 1.4em;
        }
    }

}

@media screen and (min-width: 1125px) {
    .dashBoard {
        width: 90%;
        margin: 0 auto;
    
        & .dashboard-panel {
            width: 100%;
            display: flex;
        }

        & .res {
            width: 30%;
            height: 750px;
        }
        
        & .article {
            height: auto;
            width: 65%;
            display: flex;
            flex-wrap: wrap;
    
            & .salle-info, .equipement-info, .service-info {
                width: 45%;
            }
        }
    
    }
}

@media screen and (min-width: 1630px) {
    .dashBoard {
        width: 90%;
        margin: 0 auto;
    
        & .dashboard-panel {
            width: 100%;
            display: flex;
        }

        & .res {
            width: 30%;
            height: 750px;
        }
        
        & .article {
            width: 65%;
            display: flex;
    
            & .salle-info, .equipement-info, .service-info {
                width: 30%;
            }
        }
    
    }
}